/* CSS: Cascading Style Sheets */

.title {
  font-size: 50px;
  font-weight: 400;
}

#principais-estilos {
  color: black;
  font-family: Arial, sans-serif;
  padding: 10px;
  margin: 40px;
  border: 5px solid red;
  border-radius: 10px;
}

#principais-estilos .paragrafo {
  font-size: 22px;
  line-height: 1.5; /* largura entre linhas*/
}
