
a{
    text-decoration: none;
}

header{
    background-color: #333333;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
}

header nav#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;


    max-width: 1240px;
    padding: 0 2rem;
    margin: 0 auto;
    height: 90px;
}

header nav#navbar .nav-brand{
    display: flex;
    align-items: center;

    gap: 1rem;
}

header nav#navbar div.nav-brand h1{
    font-family: "Grenze", serif;
    font-weight: 400;
    font-size: 2rem;
}

header nav#navbar .nav-brand img{
    width: 40px;
}

header nav#navbar ul.nav-list{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

header nav#navbar ul.nav-list li a{
    color: #ccc;
    font-size: 1.2rem;
    transition: color 0.3s;
}

header nav#navbar ul.nav-list li a:hover{
    color: white;
    transition: color 0.3s;
}
