*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222222;
    color: white;
    font-family: "Roboto", sans-serif;
}

section#articles{
    max-width: 1240px;
    margin: 4rem auto;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
