.header {
  background-color: green;
  color: white;
}
.container {
  max-width: 1200px;
  padding: 0 2 rem;
  margin: 0 auto;

  div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
