#article{
    display: flex;
    gap: 1rem;
}

#article img{
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

#article  div.article-infos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

article  div.article-infos h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 12px;
}

article  div.article-infos h3{
    font-size: 20px;
    font-weight: 400;
    color: #8695a4;
    margin-bottom: 1rem;
}
